#products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.item {
    text-align: center;
}

.item_img {
    width: 200px;
    align-content: center;
}

.item_title {
    color: orange;
    font-size: 20px;
    text-decoration: none;
}

.item_link {
    text-decoration: none;
}