.item_body {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
}

.item_img {
    grid-column: 1;
    height: 600px;
}

.item_desc {
    grid-column: 3;
}

.item_tocart {
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    background-color: orange;
}